﻿@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> UserManager;

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}
else
{
    <a class="btn btn-success my-2 my-sm-0" asp-controller="Account" asp-action="Login"> 
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register"> 
        <i class="bi bi-person-plus"></i> Register
    </a>
    <span style="padding: 5px;"></span>
}