﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HisserFullStack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HisserFullStack.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body style="background: #39274F;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background: #87DA2A;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Posts" asp-action="Index" style="color: #39274F;">Hisser</a>
                <!--<img src="~/Resources/HisserIcon.jpg" alt="logo">-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="navbar-nav">
                            <a class="nav-link text-dark" asp-controller="Posts" asp-action="Index" style="color: #39274F;"> <i class="badge-info bi-card-text"></i> Posts</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link drop-down-toggle" href="#" id="navbarDropdown" role="button" data-toggle="button" data-bs-toggle="dropdown"
                            aria-haspoppup="true" aria-expanded="false" style="color: #39274F;">
                                        <i class="bi bi-gear" style="color: #39274F;"></i> Management
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: #39274F;">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Users" style="color: #87DA2A;"> 
                                        <i class="bi bi-person" style="color: #87DA2A;"></i> Users</a>
                                </div>

                            </li>
                        }
                    </ul>

                    <form class="form-check-inline my-2 my-lg-0" asp-contoller="Posts" asp-action="Filter" style="padding-right: 25px; display:flex;">
                        <input name="searchString" type="text" class="form-control" placeholder="Search for post..." style="background: #39274F; color: #87DA2A;"/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color: #39274F;"> <i class="bi bi-search" style="color: #39274F;"></i></button>
                    </form>

                    <partial name ="_Identity.cshtml" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background: #87DA2A;">
        <div class="container" style="color: #39274F;">
            &copy; 2022 - Hisser
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>