﻿<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 style="color: #87DA2A;">You've reached the end of the internet</h1>
        <hr />
        <a class="btn btn-success" asp-controller="Posts" asp-action="Index">Home Page</a>
    </div>
</div>