﻿@using HisserFullStack.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 style="color: #87DA2A;">Log in to your account</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="EmailAddress" class="control-laberl" style="color: #87DA2A;"></label>
                        <input asp-for="EmailAddress" class="form-control" style="background: #39274F; color: #87DA2A;"/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="control-laberl" style="color: #87DA2A;"></label>
                        <input asp-for="Password" class="form-control" style="background: #39274F; color: #87DA2A;"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input class="btn btn-success float-end" type="submit" value="Log in"/>
                        <a class="btn btn-secondary" asp-controller="Posts" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>