﻿@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of users";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table" style="border-color: #87DA2A;">
            <thead>
                <tr>
                    <th style="color: #87DA2A;">@Html.DisplayNameFor(model => model.UserName)</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th style="color: #87DA2A;">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                        <tr>
                                <td class="align-middle" style="color: #87DA2A;">
                            @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                                        <td class="align-middle">
                                            <a class="btn btn-danger"><i class="bi bi-trash"></i>Delete </a>
                                        </td>
                        }
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>