﻿@model NewPostVM

@{
    ViewData["Title"] = "Add a new post";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 style="color: #87DA2A;">Add a New Post</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Title" class="control-label" style="color: #87DA2A;"></label>
                    <input asp-for="Title" class="form-control" style="background: #39274F; color: #87DA2A;"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="control-label" style="color: #87DA2A;"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" style="background: #39274F; color: #87DA2A;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <a class="btn btn-secondary" asp-action="Index">Show All</a>
                    <input type="submit" value="Create" class="btn btn-success float-end" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>