﻿@model Post

@{
    ViewData["Title"] = "Delete post";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 style="color: #87DA2A;">Delete confirmation</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="mb-3">
                    <label asp-for="Title" class="control-label" style="color: #87DA2A;"></label>
                    <input asp-for="Title" class="form-control" readonly style="background: #39274F; color: #87DA2A;"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="control-label" style="color: #87DA2A;"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" readonly style="background: #39274F; color: #87DA2A;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-end" />
                    </form>
                    <a class="btn btn-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>