﻿@inject UserManager<ApplicationUser> UserManager;
@model IEnumerable<Post>

@{
    ViewData["Title"] = "List of Posts";
}

<div class="row">
    @foreach (var item in Model)
    {
                <div>
                        <div class="card mb-3" style="max-width: 540px; margin: auto; background: #87DA2A;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                    <div class="card-header text-white" style="background: #87DA2A;">
                                    <p class="card-text">
                                    <h5 class="card-title" style="color: #39274F;">
                                    @item.Title
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (User.IsInRole("Admin") || item.UserId.Equals(UserManager.GetUserId(User)))
                                        {
                                            <a class="float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash" style="color: #dc3545; margin-left: 5px;"></i></a>
                                        }
                                        @if (item.UserId.Equals(UserManager.GetUserId(User)))
                                        {
                                            <a class="float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="color: #39274F;"></i></a>
                                        }
                                    }
                                    </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                        <p class="card-text" style="color: #39274F;">@item.Description</p>
                                    <!--<p class="card-text ">
                                        <b>Status: </b>
                                        </p>-->

                                </div>
                            </div>
                    </div>
                    </div>
                </div>
    }

</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-white" style="position: fixed; right: 25px; bottom: 100px;">
            <a asp-controller="Posts" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New </a>
    </div>
}